<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3 text-white">Our Key Features</h1>
              <p class="lead text-white"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4" style="width: 317px; height: 328px">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="
                      icon icon-shape icon-shape-primary
                      rounded-circle
                      mb-4
                    "
                  >
                    <i class="ni ni-spaceship"></i>
                  </div>
                  <h6 class="text-primary text-uppercase gggg">
                    Discover the best movies and TV shows
                  </h6>
                  <p class="description mt-3">
                    A wide range of lists at your fingertips from trending and
                    popular movies to movies climbing the box office.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4" style="width: 317px; height: 328px">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="
                      icon icon-shape icon-shape-success
                      rounded-circle
                      mb-4
                    "
                  >
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-success text-uppercase gggg">
                    Check-In to movies and episodes anytime, anywhere!
                  </h6>
                  <p class="description mt-3">
                    Whether you are at the theaters or chilling at your friends
                    house, just check in and share what you are watching.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4" style="width: 317px; height: 328px">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="
                      icon icon-shape icon-shape-warning
                      rounded-circle
                      mb-4
                    "
                  >
                    <i class="ni ni-bag-17"></i>
                  </div>
                  <h6 class="text-warning text-uppercase gggg">
                    Create and Manage your Watchlists
                  </h6>
                  <p class="description mt-3">
                    Build your watchlists and custom lists with a single tap.
                    Never forget that awesome movie you once heard .
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4" style="width: 317px; height: 328px">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="
                      icon icon-shape icon-shape-primary
                      rounded-circle
                      mb-4
                    "
                  >
                    <i class="ni ni-collection"></i>
                  </div>
                  <h6 class="text-primary text-uppercase gggg">
                    Build Collections and keep track of every completed movies
                  </h6>
                  <p class="description mt-3">
                    Your movie collection is one of your most valuable
                    possessions. We help you track your Books and Shows.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4" style="width: 317px; height: 328px">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="
                      icon icon-shape icon-shape-success
                      rounded-circle
                      mb-4
                    "
                  >
                    <i class="ni ni-badge"></i>
                  </div>
                  <h6 class="text-success text-uppercase gggg">
                    Choose from the best Oscar and award winning movies
                  </h6>
                  <p class="description mt-3">
                    Carefully prepared curated and staff picked movies help you
                    choose and enjoy only the best movies that deserve your
                    time.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4" style="width: 317px; height: 328px">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="
                      icon icon-shape icon-shape-warning
                      rounded-circle
                      mb-4
                    "
                  >
                    <i class="ni ni-book-bookmark"></i>
                  </div>
                  <h6 class="text-warning text-uppercase gggg">
                    Stay on top of the latest movie , TV Show releases and Book
                    releases!
                  </h6>
                  <p class="description mt-3">
                    Calendars and notifications are here to keep you informed
                    about your favorite content!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
